body {
  overflow: hidden; }

.renderer {
  position: fixed;
  top: 0;
  left: 0; }
  .renderer_css div > * {
    position: absolute;
    overflow: hidden; }
  .renderer_css iframe {
    width: 100%;
    height: 100%;
    border: none; }
